@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3 style="text-align: center">Our contacts:</h3>
    <br />
    <p>Telegram: <a href="https://t.me/richard_qq">@@richard_qq</a></p>
}
