@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan at lorem ac viverra. Ut tempus nulla at nunc ultricies volutpat. Etiam vel nulla quis ipsum condimentum elementum quis a urna. Phasellus auctor purus risus, ac suscipit metus commodo ut. Cras vehicula sit amet erat at luctus. Pellentesque eget convallis urna, a tempor tortor. Etiam molestie metus quis velit semper volutpat. Sed rhoncus pellentesque mi ac egestas. Nunc eu sapien mauris. Fusce bibendum consectetur neque, eget laoreet ligula pharetra id. Curabitur consequat hendrerit mattis. Aliquam tristique facilisis eros, in finibus dolor malesuada ut. Phasellus nulla ex, luctus sed nulla eu, cursus finibus tortor.

    Vestibulum et augue ut tellus dapibus fermentum. Curabitur sem leo, porttitor at neque et, posuere euismod quam. Mauris vel luctus sem. Cras sollicitudin, magna id porttitor scelerisque, elit elit cursus elit, sed imperdiet ipsum tortor ac ante. Curabitur sit amet luctus nisl. Morbi in efficitur lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar, est ac auctor imperdiet, libero massa consectetur quam, sit amet tempus quam sapien sit amet tortor. Vivamus id tincidunt lacus.

    Suspendisse tortor est, suscipit et velit quis, ullamcorper sodales augue. Phasellus ac interdum massa, vel posuere libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu sollicitudin dui. Morbi sed nisi mauris. Sed id vestibulum mi, in molestie eros. Mauris malesuada tortor ac nulla pellentesque pharetra. Quisque tempor, lacus nec cursus congue, enim diam ultrices nisi, eu condimentum ipsum augue eu nisi. Duis nec posuere odio. Nam in imperdiet lectus. Curabitur malesuada tellus eros, ut pretium mauris venenatis at.
</p>
